@page
@model SirooWebAPP.UI.Pages.Clients.ChallengeModel
@{
    Layout = "_LayoutClients";
}

<style>

    .MainDashboard {
        display: none !important;
    }

</style>

@if (Model.ResultMessage.Length > 1)
{
    <div class="alert alert-@Model.ResultMessageSuccess fade show" role="alert">
        @Model.ResultMessage
        <button type="button" class="close" data-dismiss="alert" onclick="closeAlert();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (Model.IsValidToChallenge)
{
    <div class="SirooRightBlockContainer">
        <div class="mb-5 SirooRightBlock  col-12">
            <div class="d-flex flex-row-reverse SirooRightBlockHeader">
                <a class="profile-media col-2" href="#">
                    <img src="~/uploads/assets/profile.jpg" />
                </a>
                <a href="#" class="col-6 profile-fullname">پکیج ویژه تبلیغاتی</a>
                <a href="#" class="col-2 profile-date">@*@Model.Amount*@ <span>ریال</span></a>
            </div>
            <div class="d-flex flex-column justify-content-center SirooContainer">
                <div class="SirooItems">
                    <div class="row justify-content-center mb-3">
                        <div class="col-12 siroo-header">خرید پکیج ویژه تبلیغاتی سیرو</div>
                    </div>
                    <div class="row">&nbsp;</div>

                    <div class="row justify-content-center">
                        <div class="col-12 siroo-label">مبلغ مورد نیاز برای خرید پکیج ویژه تبلیغاتی</div>
                    </div>
                    <form method="post" class="addMoney row justify-content-center" enctype="multipart/form-data">
                        <div class="row col-12 mb-3">
                            <div class="col-12">
                                <input type="text" class="col-12" disabled asp-for="AddChallenge.NeededMoneyToAttendInChallenge" value="@Model.NeededMoneyToAttendInChallenge ریال">
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-12 siroo-label">نام کاربری معرف شما (اختیاری) </div>
                        </div>
                        <div class="row col-12 mb-2">
                            <div class="col-12 Textbox fa fa-user">
                                <input type="text" class="col-12" asp-for="AddChallenge.Parent" />
                            </div>
                        </div>


                        <div class="row justify-content-center">
                            <div class="col-12 siroo-header">پر کردن مشخصات فردی زیر برای صدور بیمه نامه حوادث انفرادی الزامیست</div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-12 siroo-label">نام</div>
                        </div>
                        <div class="row col-12 mb-2">
                            <div class="col-12 Textbox fa fa-user">
                                <input type="text" class="col-12" asp-for="AddChallenge.TheName" value="@Model.preDefinedChallenge.TheName" />
                            </div>
                            <div class="col-12 text-warning">
                                <span asp-validation-for="AddChallenge.TheName"></span>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-12 siroo-label">نام خانوادگی</div>
                        </div>
                        <div class="row col-12 mb-2">
                            <div class="col-12 Textbox fa fa-user">
                                <input type="text" class="col-12" asp-for="AddChallenge.TheFamily" value="@Model.preDefinedChallenge.TheFamily" />
                            </div>
                            <div class="col-12 text-warning">
                                <span asp-validation-for="AddChallenge.TheFamily"></span>
                            </div>
                        </div>


                        <div class="row justify-content-center">
                            <div class="col-12 siroo-label">نام پدر</div>
                        </div>
                        <div class="row col-12 mb-2">
                            <div class="col-12 Textbox fa fa-user">
                                <input type="text" class="col-12" asp-for="AddChallenge.TheFatherName" />
                            </div>
                            <div class="col-12 text-warning">
                                <span asp-validation-for="AddChallenge.TheFatherName"></span>
                            </div>
                        </div>


                        <div class="row justify-content-center">
                            <div class="col-12 siroo-label">شماره شناسنامه</div>
                        </div>
                        <div class="row col-12 mb-2">
                            <div class="col-12 Textbox fa fa-id-card">
                                <input type="text" class="col-12" asp-for="AddChallenge.TheIDNumber" />
                            </div>
                            <div class="col-12 text-warning">
                                <span asp-validation-for="AddChallenge.TheIDNumber"></span>
                            </div>
                        </div>



                        <div class="row justify-content-center">
                            <div class="col-12 siroo-label">کد ملی</div>
                        </div>
                        <div class="row col-12 mb-2">
                            <div class="col-12 Textbox fa fa-id-card">
                                <input type="text" class="col-12" asp-for="AddChallenge.TheNationalID" />
                            </div>
                            <div class="col-12 text-warning">
                                <span asp-validation-for="AddChallenge.TheNationalID"></span>
                            </div>
                        </div>


                        <div class="row justify-content-center">
                            <div class="col-12 siroo-label">تاریخ تولد</div>
                        </div>
                        <div class="row col-12 mb-2">
                            <div class="col-12 Textbox fa fa-calendar">
                                <input type="text" class="col-12" asp-for="AddChallenge.TheBirthDate" />
                            </div>
                            <div class="col-12 text-warning">
                                <span asp-validation-for="AddChallenge.TheBirthDate"></span>
                            </div>
                        </div>





                        <div class="row justify-content-center">
                            <div class="col-12 siroo-label">شماره موبایل</div>
                        </div>
                        <div class="row col-12 mb-2">
                            <div class="col-12 Textbox fa fa-mobile">
                                <input type="text" class="col-12" asp-for="AddChallenge.TheMobileNumber" value="@Model.preDefinedChallenge.TheMobileNumber" />
                            </div>
                            <div class="col-12 text-warning">
                                <span asp-validation-for="AddChallenge.TheMobileNumber"></span>
                            </div>
                        </div>


                        <div class="row col-12 mb-2 mt-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" asp-for="AddChallenge.IsMarried">
                                <label class="form-check-label" for="AddChallenge.IsMarried">آیا متاهل هستید؟</label>
                            </div>
                        </div>






                        <div class="row col-12 mb-3 justify-content-center">
                            <div class="col-8 SirooBtn">
                                <input id="myInput" type="submit" class="col-12" asp-page-handler="TakeMoney" value="برداشت وجه و خرید پکیج ویژه">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.IsValidToChallenge == false && Model.HasChallenge == false)
{
    <div class="SirooRightBlockContainer">
        <div class="mb-5 SirooRightBlock  col-12">
            <div class="d-flex flex-row-reverse SirooRightBlockHeader">
                <a class="profile-media col-2" href="#">
                    <img src="~/uploads/assets/profile.jpg" />
                </a>
                <a href="#" class="col-6 profile-fullname">مجاز نیستید</a>
                <a href="#" class="col-2 profile-date"></a>
            </div>
            <div class="d-flex flex-column justify-content-center SirooContainer">
                <div class="SirooItems">
                    <div class="row justify-content-center mb-3">
                        <div class="col-12 siroo-header">شرایط خرید پکیج ویژه تبلیغاتی سیرو</div>
                    </div>
                    <div class="row">&nbsp;</div>





                    <div class="row justify-content-center mb-3" style="direction:rtl;">
                        <div class="col-12 siroo-header">برای خرید پکیج ویژه تبلیغاتی سیرو باید مبلغ @Model.NeededMoneyToAttendInChallenge ریال در کیف پول خود داشته باشید.</div>
                    </div>
                    <div class="row">&nbsp;</div>

                    <div class="row col-12 mb-3 justify-content-center">
                        <div class="col-8 SirooBtn">
                            <input type="submit" class="col-12" onclick="window.location='/Clients/Wallet';" value="کیف پول">
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
}

@if (Model.HasChallenge)
{

    <div class="SirooRightBlockContainer">
        <div class="mb-5 SirooRightBlock  col-12">
            <div class="d-flex flex-row-reverse SirooRightBlockHeader">
                <a class="profile-media col-2" href="#">
                    <img src="~/uploads/assets/profile.jpg" />
                </a>
                <a href="#" class="col-6 profile-fullname">پکیج ویژه تبلیغاتی من</a>
                <a href="#" class="col-2 profile-date"></a>
            </div>
            <div class="d-flex flex-column justify-content-center SirooContainer">
                <div class="SirooItems">
                    <div class="row justify-content-center mb-3">
                        <div class="col-12 siroo-header">پکیج ویژه تبلیغاتی من</div>
                    </div>
                    <div class="row">&nbsp;</div>


                    <div id="chartdiv"></div>


                    <div class="row justify-content-center mb-3" style="position:absolute;top:100px;">
                        <div class="col-12 siroo-header">معرفی های مستقیم: @Model.DirectInviteds</div>
                    </div>
                    <div class="row">&nbsp;</div>

                </div>
            </div>
        </div>
    </div>









    @*
        <div>ثبت شده است.</div>
        <div>سهم دریافتی تاکنون:</div>
        <div>@Model.ShareReceivedUntilNow</div>
        <div>معرفی های مستقیم:</div>
        <div>@Model.DirectInviteds</div>*@




}



@if (Model.IsValidToChallenge == false && Model.HasChallenge == false)
{
    <script>

        //window.location="/Clients/Main";

    </script>
}

@if (Model.HasChallenge)
{
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/material.js"></script>


    <style>
        #chartdiv {
            width: 100%;
            height: 60vh;
        }
    </style>

    <script src="~/js/pages/Challenge-default.js"></script>

    <script>

                var sharedreceived=@Model.ShareReceivedUntilNow/10;
                var deadlineDays=@Model.DeadlineDays;
                var remainingDays=@Model.RemainingDays;



        am4core.useTheme(am4themes_animated);
        am4core.useTheme(am4themes_material);


        // create chart
        var chart = am4core.create("chartdiv", am4charts.GaugeChart);
        chart.hiddenState.properties.opacity = 0;

        var axis = chart.xAxes.push(new am4charts.ValueAxis());
        axis.min = 0;
        axis.max = deadlineDays;
        axis.strictMinMax = true;
        axis.renderer.inside = true;
        //axis.renderer.ticks.template.inside = true;
        //axis.stroke = chart.colors.getIndex(3);
        axis.renderer.radius = am4core.percent(97);
        axis.renderer.radius = 100;
        axis.renderer.line.strokeOpacity = 1;
        axis.renderer.line.strokeWidth = 10;
        axis.renderer.line.stroke = chart.colors.getIndex(0);
        axis.renderer.ticks.template.stroke = chart.colors.getIndex(0);
        axis.renderer.labels.template.radius = 35;
        axis.renderer.labels.template.fill = 'orange';
        axis.renderer.ticks.template.strokeOpacity = 1;
        axis.renderer.grid.template.disabled = true;
        axis.renderer.ticks.template.length = 10;
        axis.hiddenState.properties.opacity = 1;
        axis.hiddenState.properties.visible = true;
        axis.setStateOnChildren = true;
        axis.renderer.hiddenState.properties.endAngle = 180;

        var axis2 = chart.xAxes.push(new am4charts.ValueAxis());
        axis2.min = 0.0;
        axis2.max = 100.0;
        axis2.strictMinMax = true;

        axis2.renderer.line.strokeOpacity = 1;
        axis2.renderer.line.strokeWidth = 10;
        axis2.renderer.line.stroke = chart.colors.getIndex(5);
        axis2.renderer.ticks.template.stroke = chart.colors.getIndex(3);
        axis2.renderer.labels.template.fill = 'white';

        axis2.renderer.ticks.template.strokeOpacity = 1;
        axis2.renderer.grid.template.disabled = false;
        axis2.renderer.ticks.template.length = 10;
        axis2.hiddenState.properties.opacity = 1;
        axis2.hiddenState.properties.visible = true;
        axis2.setStateOnChildren = true;
        axis2.renderer.hiddenState.properties.endAngle = 180;

        var hand = chart.hands.push(new am4charts.ClockHand());
        hand.fill = axis.renderer.line.stroke;
        hand.stroke = axis.renderer.line.stroke;
        hand.axis = axis;
        hand.pin.radius = 14;
        hand.startWidth = 10;

        var hand2 = chart.hands.push(new am4charts.ClockHand());
        hand2.fill = axis2.renderer.line.stroke;
        hand2.stroke = axis2.renderer.line.stroke;
        hand2.axis = axis2;
        hand2.pin.radius = 10;
        hand2.startWidth = 10;



        var legend = new am4charts.Legend();
        legend.isMeasured = false;
        legend.y = am4core.percent(100);
        legend.verticalCenter = "bottom";
        legend.parent = chart.chartContainer;
        legend.labels.template.fill = 'white';
        legend.data = [{
            "name": "روزهای باقیمانده",
            "fill": chart.colors.getIndex(0)
        }, {
            "name": "درصد موفقیت",
            "fill": chart.colors.getIndex(5)
        }];

        var labelList = new am4core.ListTemplate(new am4core.Label());
        labelList.template.isMeasured = false;
        labelList.template.background.strokeWidth = 2;
        labelList.template.fontSize = 25;
        labelList.template.fill = 'white';
        labelList.template.padding(5, 5, 5, 5);
        labelList.template.y = am4core.percent(70);
        labelList.template.horizontalCenter = "middle";

        var label = labelList.create();
        label.parent = chart.chartContainer;
        label.x = am4core.percent(40);
        label.background.stroke = chart.colors.getIndex(0);
        label.fill = chart.colors.getIndex(0);
        label.text = "0";

        var label2 = labelList.create();
        label2.parent = chart.chartContainer;
        label2.x = am4core.percent(60);
        label2.background.stroke = chart.colors.getIndex(3);
        label2.fill = chart.colors.getIndex(3);
        label2.text = "0";

        legend.itemContainers.template.events.on("hit", function (ev) {
            var index = ev.target.dataItem.index;
            if (ev.target.isActive) {
                chart.hands.getIndex(index).show();
                chart.xAxes.getIndex(index).show();
                labelList.getIndex(index).show();
            }
            else {
                chart.hands.getIndex(index).hide();
                chart.xAxes.getIndex(index).hide();
                labelList.getIndex(index).hide();
            }
        });




                        setInterval(() => {
                    hand.showValue(remainingDays, 1000, am4core.ease.cubicOut);
                    label.text = "" + remainingDays;
                    hand2.showValue(sharedreceived, 1000, am4core.ease.cubicOut);
                    label2.text = "" + sharedreceived;
                }, 2000);
    </script>


}