@page
@model SirooWebAPP.UI.Pages.Clients.WalletModel
@{
    Layout = "_LayoutClients";
}
@if (Model.ResultMessage.Length > 1)
{
    <div class="alert alert-@Model.ResultMessageSuccess fade show" role="alert">
        @Model.ResultMessage
        <button type="button" class="close" data-dismiss="alert" onclick="closeAlert();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<div class="SirooRightBlockContainer">
    <div class="mb-5 SirooRightBlock  col-12">
        <div class="d-flex flex-row-reverse SirooRightBlockHeader">
            <a class="profile-media col-2" href="#">
                <img src="~/uploads/assets/profile.jpg" />
            </a>
            <a href="#" class="col-6 profile-fullname">کیف پول من</a>
            <a href="#" class="col-2 profile-date">@Model.Amount <span>ریال</span></a>
        </div>
        <div class="d-flex flex-column justify-content-center SirooContainer">
            <div class="SirooItems">
                <div class="row justify-content-center mb-3">
                    <div class="col-12 siroo-header">کیف پول من</div>
                </div>
                <div class="row">&nbsp;</div>

                <div class="row justify-content-center">
                    <div class="col-12 siroo-label">موجودی کیف پول شما</div>
                </div>
                <div class="row col-12 mb-3">
                    <div class="col-12">
                        <input type="text" class="col-12" disabled value="@Model.Amount ریال">
                    </div>
                </div>
                <form method="post" class="addMoney row justify-content-center" enctype="multipart/form-data">
                    <div class="row justify-content-center">
                        <div class="col-12 siroo-label">افزایش موجودی (ریال)</div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col-12 Textbox fa fa-dollar">
                            @if (Model.RemainingMoneyToAttendChallenge == -1)
                            {
                                <input type="number" value="100000" min="100000" step="10000" class="col-12" asp-for="AddMoney.NewAmount" />
                                <span asp-validation-for="AddMoney.NewAmount"></span>
                            }
                            else
                            {
                                <input type="number" value="@Model.RemainingMoneyToAttendChallenge" min="@Model.RemainingMoneyToAttendChallenge" step="10000" class="col-12" asp-for="AddMoney.NewAmount" />
                                <span asp-validation-for="AddMoney.NewAmount"></span>
                            }

                        </div>
                    </div>
                    <div class="row col-12 mb-3 justify-content-center">
                        <div class="col-6 d-flex p-0">
                            <span onclick="toggleSendReceive();" class="secondary-SirooBtn"><<تقاضای دریافت وجه</span>
                        </div>
                        <div class="col-6 SirooBtn">
                            @if (Model.RemainingMoneyToAttendChallenge == -1)
                            {
                                <input id="myInput" type="submit" class="col-12" asp-page-handler="AddMoney" value="پرداخت">
                            }else{
                                <input id="myInput" type="submit" class="col-12" asp-page-handler="AddMoney" value="خرید پکیج ویژه">
                            }
                        </div>
                    </div>
                </form>
                <form method="post" class="receiveMoney row justify-content-center" enctype="multipart/form-data">
                    <div class="row justify-content-center">
                        <div class="col-12 siroo-label">درخواست دریافت از کیف پول (ریال)</div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col-12 Textbox fa fa-dollar">
                            <input type="number" min="10000" value="@Model.Amount" max="@Model.Amount" step="10000" class="col-12" asp-for="ReceiveMoney.GetAmount" />
                            <span asp-validation-for="ReceiveMoney.GetAmount"></span>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 siroo-label">شماره کارت یا شماره شبا</div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col-12 Textbox fa fa-address-card">
                            <input type="text" class="col-12" asp-for="ReceiveMoney.CardNumber" />
                            <span asp-validation-for="ReceiveMoney.CardNumber"></span>
                        </div>
                    </div>
                    <div class="row col-12 mb-3 justify-content-center">
                        <div class="col-6 d-flex p-0">
                            <span onclick="toggleSendReceive();" class="secondary-SirooBtn"><<تقاضای افزایش وجه</span>
                        </div>
                        <div class="col-6 SirooBtn">
                            <input id="myOutput" type="submit" class="col-12" asp-page-handler="GetMoney" value="تقاضای دریافت">
                        </div>
                    </div>
                </form>


                @if (Model.IsValidToChallenge)
                {

                    <div class="row col-12 mb-3 justify-content-center">
                        <div class="col-6 SirooBtn">
                            <input type="button" value="پکیج ویژه تبلیغاتی" class="col-12" onclick="window.location='/Clients/Challenge';" />
                        </div>
                    </div>
                }

                <div class="row justify-content-center mt-5 mb-3">
                    <div class="col-12 siroo-header">تراکنش های پرداختی شما</div>
                </div>

                <div class="justify-content-center col-12 direction-rtl">
                    <div class="d-flex  bg-warning rounded-top text-center">
                        <div class="col-3 text-dark pt-2 pb-2 siroo-label">تاریخ</div>
                        <div class="col-3 text-dark pt-2 pb-2 siroo-label">مبلغ <span>ریال</span></div>
                        <div class="col-3 text-dark pt-2 pb-2 siroo-label">شناسه پرداخت</div>
                        <div class="col-3 text-dark pt-2 pb-2 siroo-label">وضعیت</div>
                    </div>
                </div>
                <div id="transactionsContainer" class="col-12">
                </div>

                <div class="row justify-content-center col-12 mt-2">
                    <div class="row justify-content-center col-12 text-center">
                        <div class="col-10 SirooBtn">
                            <input type="submit" class="btn-primary" onclick="_getTransactions();" value="بروزرسانی تراکنش ها" />
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mt-5 mb-3">
                    <div class="col-12 siroo-header">دریافت های محاسبه شده شما</div>
                </div>
                <div class="justify-content-center col-12 direction-rtl">
                    <div class="d-flex bg-primary rounded-top text-center">
                        <div class="col-3 text-light pt-2 pb-2 siroo-label">تاریخ</div>
                        <div class="col-3 text-light pt-2 pb-2 siroo-label">مبلغ <span>ریال</span></div>
                        <div class="col-3 text-light pt-2 pb-2 siroo-label">بابت</div>
                        <div class="col-3 text-light pt-2 pb-2 siroo-label">توضیحات</div>
                    </div>
                </div>
                <div id="inTransactionsContainer" class="col-12">
                </div>

                <div class="row justify-content-center col-12 mt-2">
                    <div class="row justify-content-center col-12 text-center">
                        <div class="col-10 SirooBtn">
                            <input type="submit" class="btn-primary" onclick="_getInTransactions();" value="بروزرسانی کارمزد ها" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="justify-content-center mb-2">&nbsp;</div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">&nbsp;</div>
</div>


<script id="transactionTemplate" type="text/x-jQuery-tmpl">
    <div class="d-flex text-center border direction-rtl transaction-row">
        <div class="col-3 siroo-small-label item-date">${created}</div>
        <div class="col-3 siroo-label money-field">${amount} <span> ریال </span></div>
        <div id="trans-${id}" onclick="copyToClipboard('trans-${id}');" class="col-3 siroo-label siroo-text-shadow">${referenceID}</div>
        <div class="col-3 siroo-label {{if isSuccessfull}} bg-light text-success {{else}} bg-light text-danger {{/if}}">${status}</div>
    </div>
</script>

<script id="inTransactionTemplate" type="text/x-jQuery-tmpl">
    <div class="d-flex text-center border direction-rtl transaction-row">
        <div class="col-3 siroo-small-label item-dates">${created}</div>
        <div class="col-3 siroo-label">${toAmount} <span> ریال </span></div>
        <div id="intrans-${id}" onclick="copyToClipboard('intrans-${id}');" class="col-3 siroo-label siroo-text-shadow">${referenceID}</div>
        <div class="col-3 siroo-label bg-success text-light">
            {{if percentage==0}}
                ${description}
            {{else}}
                ${percentage} درصد ${description}
            {{/if}}
        </div>
    </div>
</script>

@section Scripts {
<script src="~/js/jquery.tmpl.min.js"></script>
<script src="~/js/jquery.timeago.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        _getTransactions();
    });


    receiveMoney=false;
    function toggleSendReceive(){
        if(receiveMoney){
            $('.addMoney').css('display','flex');
            $('.receiveMoney').css('display','none');
            receiveMoney=false;
        }else{
            $('.addMoney').css('display','none');
            $('.receiveMoney').css('display','flex');
            receiveMoney=true;
        }

    }

    function _getTransactions(){
        $.ajax({
            url: '/gettransactions',
            type: 'GET',
            success: function (result) {
                if(result=="gologin"){
                    window.location="/login/login";
                }else{
                    //var ads = jQuery.parseJSON(result);
                    sina="{ads:"+result+"}";
                    $('#transactionsContainer').html('');
                    $('#transactionTemplate').tmpl(result).appendTo('#transactionsContainer');

                    var dates=$('.item-date');
                    for(i=0;i<dates.length;i++){
                        $(dates[i]).text(milToShamsiWithTime($(dates[i]).text()));
                    }
                    _getInTransactions();
                }

            },
        });
    }


    function _getInTransactions(){
        $.ajax({
            url: '/getincometransactions',
            type: 'GET',
            success: function (result) {
                if(result=="gologin"){
                    window.location="/login/login";
                }else{
                    //var ads = jQuery.parseJSON(result);
                    sina="{ads:"+result+"}";
                    $('#inTransactionsContainer').html('');
                    $('#inTransactionTemplate').tmpl(result).appendTo('#inTransactionsContainer');

                    var dates=$('.item-dates');
                    for(i=0;i<dates.length;i++){
                        //$(dates[i]).text(jQuery.timeago($(dates[i]).text()));
                        $(dates[i]).text(milToShamsiWithTime($(dates[i]).text()));
                    }
                }

            },
        });
    }

                    function copyToClipboard(obj) {
                      // Get the text field
                      var copyText = document.getElementById(obj);

                       // Copy the text inside the text field
                      navigator.clipboard.writeText($(copyText).text());


                        navigator.clipboard
                              .writeText($(copyText).text())
                              .then(() => {
                                alert("کپی شد.");
                              })
                              .catch(() => {
                                alert("مشکلی پیش آمده.");
                              });

                      // Alert the copied text
                      //alert("کپی شد.");
                }



                function milToShamsi(mysql_timestamp){

                    //let date_convert_y = parseInt(mysql_timestamp.substr(6, 4));
                    //let date_convert_m = parseInt(mysql_timestamp.substr(0, 2));
                    //let date_convert_d = parseInt(mysql_timestamp.substr(3, 2));

                    let date_convert_y = new Date(mysql_timestamp).getFullYear();
                    let date_convert_m = (new Date(mysql_timestamp).getMonth()+1);
                    let date_convert_d = new Date(mysql_timestamp).getDate();
                    return miladi_be_shamsi(date_convert_y, date_convert_m, date_convert_d);
                }
                function milToShamsiWithTime(mysql_timestamp){

                    //let date_convert_y = parseInt(mysql_timestamp.substr(6, 4));
                    //let date_convert_m = parseInt(mysql_timestamp.substr(0, 2));
                    //let date_convert_d = parseInt(mysql_timestamp.substr(3, 2));

                    let date_convert_y = new Date(mysql_timestamp).getFullYear();
                    let date_convert_m = (new Date(mysql_timestamp).getMonth()+1);
                    let date_convert_d = new Date(mysql_timestamp).getDate();
                    let date_convert_h = new Date(mysql_timestamp).getHours();
                    let date_convert_min = new Date(mysql_timestamp).getMinutes();
                    let result="";
                    result=miladi_be_shamsi(date_convert_y, date_convert_m, date_convert_d);
                    return date_convert_h+":"+date_convert_min+" "+result;
                }
    function miladi_be_shamsi(gy, gm, gd) {
        var g_d_m, jy, jm, jd, gy2, days;
        g_d_m = [0, 31, 59, 90, 120, 151, 181, 212, 243, 273, 304, 334];
        gy2 = (gm > 2) ? (gy + 1) : gy;
        days = 355666 + (365 * gy) + ~~((gy2 + 3) / 4) - ~~((gy2 + 99) / 100) + ~~((gy2 + 399) / 400) + gd + g_d_m[gm - 1];
        jy = -1595 + (33 * ~~(days / 12053));
        days %= 12053;
        jy += 4 * ~~(days / 1461);
        days %= 1461;
        if (days > 365) {
            jy += ~~((days - 1) / 365);
            days = (days - 1) % 365;
        }
        if (days < 186) {
            jm = 1 + ~~(days / 31);
            jd = 1 + (days % 31);
        } else {
            jm = 7 + ~~((days - 186) / 30);
            jd = 1 + ((days - 186) % 30);
        }
        return [jy + '/' + jm + '/' + jd];
    }
</script>

}
