@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div>

        @RenderBody()
        <div style="display:flex;flex-direction:row;">
            <div style="border:solid 1px black;border-radius:1rem;">
                @Context.Session.GetString("userfullname")<br />
                @Context.Session.GetString("userrolename")<br />
                @Context.Session.GetString("userprofileurl")<br />
            </div>
            <div style="border:solid 1px black;border-radius:1rem;">
                @Context.Session.GetString("userpoints")<br />
                @Context.Session.GetString("usercredits")<br />
            </div>
            <div style="border:solid 1px black;border-radius:1rem;">
                <a href="~/Clients/Draws">دوره ها</a>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
