@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>

<html lang="fa-IR">
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.scss" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
            <div class="container">
                <a class="navbar-brand col-2 col-lg-1" asp-area="" asp-page="/Clients/Main">
                    <img src="~/images/logo.png" class="col-12" />
                </a>
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
                    </span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Session.GetString("userrolename") != "anonymous")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" style="color:#00ff2b!important;" target="_blank" href="https://omanmultimedia.com/sirooapp.apk">دانلود اپلیکیشن اندروید</a>
                            </li>
                            <li class="nav-item for-clients">
                                <a class="nav-link text-light" asp-area="" asp-page="/Clients/Main">خانه</a>
                            </li>
                            <li class="nav-item for-clients">
                                <a class="nav-link text-light" asp-area="" asp-page="/Clients/Profile">پروفایل</a>
                            </li>
                            <li class="nav-item for-clients">
                                <a class="nav-link text-light" asp-area="" asp-page="/Clients/MyPosts">پُست های من</a>
                            </li>
                        }
                        @if (Context.Session.GetString("userrolename") == "store")
                        {
                            <li class="nav-item for-stores">
                                <a class="nav-link text-light" asp-area="" asp-page="/Stores/Dashboard">فروشگاه</a>
                            </li>
                        }
                        @if (Context.Session.GetString("userrolename") != "anonymous" && Context.Session.GetString("userrolename") != "client" && Context.Session.GetString("userrolename") != "store")
                        {
                            <li class="nav-item for-up-stores">
                                <a class="nav-link text-light" asp-area="" asp-page="/Clients/AddUserToRole">تغییر نقش کاربر</a>
                            </li>
                        }
                        @if (Context.Session.GetString("userrolename") != "anonymous")
                        {
                            <li class="nav-item for-clients">
                                <a class="nav-link text-light" asp-area="" asp-page="/Clients/AddAdvertise">ایجاد پُست جدید</a>
                            </li>
                            <li class="nav-item for-clients">
                                <a class="nav-link text-light" asp-area="" asp-page="/Clients/Draws">دوره های جوایز</a>
                            </li>
                            <li class="nav-item for-clients">
                                <a class="nav-link text-light" asp-area="" asp-page="/Clients/Wallet">کیف پول من</a>
                            </li>
                        }
                        @if (Context.Session.GetString("userrolename") == "admin" || Context.Session.GetString("userrolename") == "super")
                        {
                            <li class="nav-item for-admins">
                                <a class="nav-link text-light" asp-area="" asp-page="/Superadmins/AddDraw">تعریف دوره</a>
                            </li>
                            <li class="nav-item for-admins">
                                <a class="nav-link text-light" asp-area="" asp-page="/Superadmins/AddPrize">تعریف جایزه</a>
                            </li>
                            <li class="nav-item for-admins">
                                <a class="nav-link text-light" asp-area="" asp-page="/Superadmins/PendingPosts">تایید پُست های جدید</a>
                            </li>
                            <li class="nav-item for-admins">
                                <a class="nav-link text-light" asp-area="" asp-page="/Superadmins/LastUsers">کاربران</a>
                            </li>
                            <li class="nav-item for-admins">
                                <a class="nav-link text-light" asp-area="" asp-page="/Superadmins/RequestMoney">تقاضاهای دریافت وجه</a>
                            </li>
                        }
                        @if (Context.Session.GetString("userrolename") == "anonymous")
                        {
                            <li class="nav-item for-anonymous">
                                <a class="nav-link text-light" asp-area="" asp-page="Registeration/Register">ثبت نام</a>
                            </li>

                            <li class="nav-item for-anonymous">
                                <a class="nav-link text-light" asp-area="" asp-page="Login/Login">ورود</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item for-clients">
                                <a class="nav-link text-light" asp-area="" asp-page="/Logout">خروج</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>

        @RenderBody()

        @*        <div class="container" style="margin-top:2rem;">
            <div class="row">
            <div class="col-4" style="border:1px solid black;border-radius:1rem;padding:1rem;">
            @Context.Session.GetString("userfullname")<br />
            نقش شما: @Context.Session.GetString("userrolename")<br />
            <a class="profile-media" href="~/Clients/MyPosts">
            <img src='../@Context.Session.GetString("userprofileurl")' />
            </a>
            </div>
            <div class="col-4" style="border:1px solid black;border-radius:1rem;padding:1rem;">
            <div><b>امتیاز:</b><h3 id="currentPoint">@Context.Session.GetString("userpoints")</h3></div><br />
            <div><b>اعتبار:</b><h3 id="currentCredit">@Context.Session.GetString("usercredits")</h3></div><br />
            </div>
            <div class="col-4" style="border:1px solid black;border-radius:1rem;padding:1rem;">
            <a href="~/Clients/Draws">دوره ها</a>
            </div>
            </div>
            </div>
        *@


    </div>

    <div class="justify-content-center col-12 col-lg-5 m-0 p-0">
        <div class="MainDashboard col-12">
            <div class="drawsSection miniCircle"><a href="~/Clients/Wallet">کیف‌پول</a></div>
            <div class="pointsSection"><a id="currentPoint" href="~/Clients/Main">@Context.Session.GetString("userpoints")</a></div>
            <div class="newPost miniCircle"><a href="~/Clients/AddAdvertise">آگهی جدید</a></div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function closeAlert(){
            $('.alert').alert('close');
        }
        function pointUpdated(val){
            newval=parseInt(val);
            oldval=parseInt($('#currentPoint').text());
            if(newval!=oldval){
                //alert('Congrat!!');
                $('#currentPoint').text(newval+oldval);
            }
        }
    </script>

</body>
</html>
