@page
@model SirooWebAPP.UI.Pages.Superadmins.AllSettingsModel
@{
    Layout = "_LayoutClients";
}
<style>

    .MainDashboard {
        display: none !important;
    }

</style>


<div class="container" style="text-align:center;">
    <div class="row m-2 mb-3">
        <div class="col-4">
            <input type="button" onclick="ResetPostCash();" value="ریست کن" />
        </div>
        <div class="col-8 flex-vcenter siroo-normal-text">ریست کردن کش پُست ها</div>
    </div>
    <hr />
    <div class="row m-2">
        <div class="col-2  flex-vcenter p-0">
            <input type="button" onclick="CreateChips();" value="تولید" />
        </div>
        <div class="col-5 p-0">
            <span class="siroo-normal-text">امتیاز هر کارت</span>
            <br />
            <input type="number" id="createdChipsPoints" value="0" min="0" step="10" />
        </div>

        <div class="col-5 p-0">
            <span class="siroo-normal-text">تعداد کارت</span>
            <br />
            <input type="number" id="createChips" value="100" min="0" step="100" />
        </div>

    </div>


    <hr />
    @foreach (var x in Model.constantDics)
    {
        <div class="row m-2 rounded-3 border p-2">
            <div class="col-4  flex-vcenter">
                <input type="button" onclick="ChangeConstant('@x.Id');" value="ثبت" />
            </div>
            <div class="col-8">
                <div class="siroo-normal-text">@x.Category</div>
                <hr>
                <span class="siroo-normal-text">@x.Description</span>
                <br />
                <input id="@x.Id" value="@x.ConstantValue" />
                @if (@x.ConstantSecondValue != null)
                {
                    <br /><br />
                    <input type="number" id="second-@x.Id" value="@x.ConstantSecondValue" />
                }

            </div>
        </div>
        <hr />

    }
</div>



@section Scripts {
    <script src="~/js/pages/Allsettings-default.js?i=1"></script>

}