@page
@model SirooWebAPP.UI.Pages.Superadmins.LastUsersModel
@{
    Layout = "_LayoutClients";
}
<style>
    table td{
        width:25%;
        text-align:center;
        font-family:'Yekan';
    }
    table tr{
        border:1px solid white;
    }
    .MainDashboard{
        display:none!important;
    }
</style>
<div class="direction-rtl" style="margin-bottom:25vh;">
    <div style="text-align:center;">
        تعداد کل کاربران: <span>@Model.NewUsers.Count</span>
    </div>
    <br/>
    <hr />
    <h1 class="siroo-header">ثبت نام های جدید</h1>
    <table>
        <tr>
            <td class="d-none">آی دی</td>
            
            <td>موبایل</td>
            <td>نام کاربری</td>
            <td>معرف</td>
            <td>کلمه عبور</td>
        </tr>
        @foreach (var x in Model.NewUsers)
        {
            <tr style="text-align:left;direction:ltr;font-size:inherit.2rem;">
                <td class="ids d-none">@x.Id</td>
                
                <td onclick="copyToClipboard(this);">@x.Cellphone</td>
                <td class="username">@x.Username</td>
                <td class="inviter" >@x.Inviter</td>
                <td onclick="copyToClipboard(this);" style="font-size:1.5rem;">@x.ConfirmationCode</td>
            </tr>
        }
    </table>
    <br />
    <hr />
    <br />

</div>


@section Scripts {
    <script src="~/js/pages/Allusers-default.js"></script>

}