@page
@model SirooWebAPP.UI.Pages.Stores.DashboardModel
@{
    Layout = "_LayoutClients";
}

<style>
    .tickets {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        font-family: 'Yekan';
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .contents {
        /*width: 50%;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .data {
        text-align: center;
    }

    .theQR {
        /*visibility:hidden;*/
        display: none;
    }

    .tgleQR {
        text-align: center;
        padding: 0.5rem;
        border-radius: 1rem;
        direction: rtl;
        margin-top: 1rem;
    }

    .qrFrame {
        border: solid 1px white;
        border-radius: 1rem;
    }

    .tgleQR.row {
        cursor: pointer;
    }

    #usageContainer .row {
        border: 1px solid black;
        background-color: darkseagreen;
        color: black;
        font-family: 'Yekan';
        font-weight: bold;
        direction: rtl;
    }
</style>

@if (Model.ResultMessage.Length > 1)
{
    <div class="alert alert-@Model.ResultMessageSuccess fade show" role="alert">
        @Model.ResultMessage
        <button type="button" class="close" data-dismiss="alert" onclick="closeAlert();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="deleteQRModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">حذف QR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="بازگشت">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                مطمئن هستید؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="$('#deleteQRModal').modal('toggle');" data-dismiss="modal">خیر</button>
                <button type="button" class="btn btn-danger" onclick="_deleteQR();$('#deleteQRModal').modal('toggle');">بلی</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="convertMoneyToCreditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title dark-text" id="exampleModalLabel">خرید اعتبار</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="بازگشت">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                &nbsp;
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="$('#convertMoneyToCreditModal').modal('toggle');" data-dismiss="modal">خیر</button>
                <button type="button" class="btn btn-success" onclick="convertToCredits();$('#convertMoneyToCreditModal').modal('toggle');">بلی</button>
            </div>
        </div>
    </div>
</div>






<div class="SirooRightBlockContainer">
    <div class="mb-5 SirooRightBlock  col-12">
        <div class="d-flex flex-row-reverse SirooRightBlockHeader">
            <a class="profile-media col-2" href="#">
                <img src="~/uploads/assets/profile.jpg" />
            </a>
            <a href="#" class="col-6 profile-fullname direction-rtl">فروشگاه من</a>
            <a href="#" class="col-2 profile-date">@Model.Credit <span>اعتبار</span></a>
        </div>
        <div class="d-flex flex-column justify-content-center SirooContainer">
            <div class="justify-content-center mb-3 mt-4">
                <div class="col-12 siroo-header direction-rtl">تبدیل موجودی به اعتبار</div>
            </div>

            <form method="post" enctype="multipart/form-data" class="mb-4">
                <div class="justify-content-center">
                    <div class="col-12 siroo-label direction-rtl">موجودی (ریال)</div>
                </div>
                <div class="col-12 mb-2  justify-content-center row">
                    <div class="col-10 Textbox fa fa-dollar">
                        <input type="number" value="@Model.Money" disabled />
                    </div>
                </div>
                <div class=" row col-12 mb-3 justify-content-center">
                    <div class="col-6 SirooBtn">
                        <input class="col-12 direction-rtl" onclick="preConvertToCredits();" type="button" value="تبدیل موجودی به اعتبار" class="form-control" />
                        <input class="col-12 direction-rtl moneytocredit" style="display:none;" type="submit" value="تبدیل موجودی به اعتبار" class="form-control" asp-page-handler="ChangeMoneyToCredit" />
                    </div>
                </div>
            </form>





            <div class="justify-content-center mb-3 mt-4">
                <div class="col-12 siroo-header direction-rtl">ایجاد QR جدید</div>
            </div>
            <form method="post" enctype="multipart/form-data" class="mb-4">
                <div class="justify-content-center">
                    <div class="col-12 siroo-label">امتیاز هر اسکن</div>
                </div>
                <div class="col-12 mb-2  justify-content-center row">
                    <div class="col-10 Textbox fa fa-coins">
                        <input type="number" value="50" min="1" max="200" asp-for="AddQRModel.Points"></input>
                        <span asp-validation-for="AddQRModel.Points"></span>
                    </div>
                </div>
                <div class="justify-content-center">
                    <div class="col-12 siroo-label">تعداد اسکن مجاز</div>
                </div>
                <div class="col-12 mb-2 row  justify-content-center">
                    <div class="col-10 Textbox fa fa-qrcode">
                        <input type="number" value="2" min="1" asp-for="AddQRModel.Capacity"></input>
                        <span asp-validation-for="AddQRModel.Capacity"></span>
                    </div>
                </div>
                <div class=" row col-12 mb-3 justify-content-center">
                    <div class="col-6 SirooBtn">
                        <input class="col-12 direction-rtl" type="submit" value="تولید QR جدید" class="form-control" asp-page-handler="AddQR" />
                    </div>
                </div>
            </form>

            <div class="justify-content-center mb-3 mt-4">
                <div class="col-12 siroo-header direction-rtl">QRهای من</div>
            </div>
            <div class="container tickets mt-1 direction-rtl" id="ticketContainer">
            </div>

            <div class="justify-content-center mb-3 mt-4">
                <div class="col-12 siroo-header direction-rtl">اسکن های موفق</div>
            </div>

            <div class="container mb-3">
                <div class="row justify-content-center">
                    <a class="btn-primary col-6 text-center SirooSimpleBtn" onclick="_getTicketUsageHistory();">نمایش اسکن های موفق</a>
                </div>
            </div>
            <div class="row justify-content-center d-flex mb-3" id="usageContainer">
            </div>


        </div>
    </div>
</div>





<script id="ticketTemplate" type="text/x-jQuery-tmpl">
    <div class="row col-12 mb-3 justify-content-center qr ${qrid}">
        <div class="contents col-7 qrFrame">
            <span class="tgleQR btn-success" onclick="tglQR(this);" >نمایش QR</span>
            <img class="theQR col-12" src="${qRsrc}" />
            <hr/>
            <div style="font-size:0.6rem;">
                ${ticketURL}
            </div>
        </div>
        <div class="contents col-5">
            <div class="data">
                <label>تعداد اسکن باقیمانده:</label>
                <span>${capacity}</span>
            </div>
            <div class="data">
                <label>امتیاز هر اسکن:</label>
                <span>${val}</span>
            </div>
            <div class="data mt-2">
                <input value="حذف" type="button" onclick="_removeQR('${qrid}')" class="btn-danger col-6 rounded-2" />
            </div>
        </div>
    </div>
</script>
















<script id="usageTemplate" type="text/x-jQuery-tmpl">
    <div class="row col-10">
        <div class="col-4">
            ${uname}
        </div>
        <div class="col-4">
           ${points} امتیاز
        </div>
        <div class="col-4">
            <span class="item-date">${date}</span>
        </div>
    </div>
</script>


<hr />



@section Scripts {
<script src="~/js/jquery.tmpl.min.js"></script>
<script src="~/js/jquery.timeago.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript">

        function tglQR(e){
            //$('img.theQR').css('visibility','hidden');
            $('img.theQR').hide();
            //$(e).next().css('visibility','visible');
            $(e).next().show();
        };

    $(document).ready(function () {
        var json = @Html.Raw(Json.Serialize(@Model.QrCodes));
        $('#ticketTemplate').tmpl(json).appendTo('#ticketContainer');
    });

    function _getTicketUsageHistory(){
        $.ajax({
            url: '/getticketusages',
            type: 'GET',
            success: function (result) {
                if(result=="gologin"){
                    window.location="/login/login";
                }else{
                    //var ads = jQuery.parseJSON(result);
                    sina="{ads:"+result+"}";
                    $('#usageContainer').html('');
                    $('#usageTemplate').tmpl(result).appendTo('#usageContainer');

                    var dates=$('.item-date');
                    for(i=0;i<dates.length;i++){
                        $(dates[i]).text(jQuery.timeago($(dates[i]).text()));
                    }
                }

            },
        });
    }

    var theRatio='@Model.theRatio';
    var theMoney='@Model.Money';

    function convertToCredits(){
        $('.moneytocredit').click();
    }
    function preConvertToCredits(){
        let calculated=parseInt(theMoney)/parseInt(theRatio);
        $('#convertMoneyToCreditModal .modal-body').text('موجودی شما تبدیل به '+calculated+' اعتبار خواهد شد. مطمئن هستید؟');
        $('#convertMoneyToCreditModal').modal('toggle');
    }

    function _removeQR(qr){
        delitingQR=qr;
        $('#deleteQRModal').modal('toggle');
    }
    var delitingQR="-1";
    function _deleteQR(){
        if(delitingQR=="-1"){
            return;
        }
        $.ajax({
            url: '/delqr/'+delitingQR,
            type: 'GET',
            success: function (result) {
                if(result){
                    if(result=="gologin"){
                        window.location="/login/login";
                    }else{
                        $('.qr.'+delitingQR).fadeOut(300, function() { $(this).remove(); });
                        //$('#deleteQRModal').modal('toggle');
                    }
                }else{
                    alert("failed");
                }
            },
        });
    }

</script>

}
